.topnav {
  padding: 30px;
  height: var(--topnav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav__search {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);

  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.topnav__search > input {
  width: 100%;
  height: 100%;
  padding: 10px 60px 10px 20px;
  border-radius: var(--border-radius);

  font-size: 1rem;
  background-color: var(--main-bg);
  color: var(--txt-color);
}
.topnav__search > i {
  position: absolute;
  right: 20px;
  font-size: 1.25rem;
}

.topnav__right {
  display: flex;
  align-items: center;
}

.topnav__right-item ~ .topnav__right-item {
  margin-left: 30px;
}

/* NOTIFICATION */
.notification-item {
  padding: 20px;
  display: flex;
  align-items: center;
}
.notification-item:hover {
  background-color: var(--second-bg);
}
.notification-item > i {
  margin-right: 20px;
  font-size: 1.25rem;
}

/* USER */
.topnav__right-user {
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.topnav__right-user__image > img {
  width: 100%;
}

.topnav__right-user__name {
  font-size: 1rem;
  font-weight: 600;
}
