.status-card {
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;

  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);

  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 0.4s ease 0s;
}

.status-card__icon {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  z-index: 1;
}

.status-card__info {
  flex-grow: 1;
  text-align: center;
  text-transform: capitalize;
  z-index: 1;
}
.status-card__info > h4 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.status-card::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;

  position: absolute;
  left: -50%;
  top: 0;

  background-image: linear-gradient(
    to top right,
    var(--main-color),
    var(--second-color)
  );
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.status-card:hover::before {
  transform: scale(3);
}
.status-card:hover {
  color: var(--txt-color);
}

@media screen and (max-width: 1400px) {
  .status-card__icon {
    font-size: var(--icon-fontsize-1024);
  }
  .status-card__info > h4 {
    font-size: var(--icon-fontsize-1024);
  }
}
