.layout {
  color: var(--txt-color);
}

.layout__content {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 100vh;
  transition: padding-left 0.3s ease 0s;
}
.layout__content.left {
  padding-left: var(--sidebar-width-1024);
}

.layout__content-main {
  padding: 30px;
}

.layout__content-up {
  width: 36px;
  height: 36px;
  padding: 30px;

  background-color: #884ffb;
  box-shadow: var(--box-shadow);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  cursor: pointer;

  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease 0s;
}
.layout__content-up > i {
  font-size: 1.5rem;
  color: var(--txt-white);
}
.layout__content-up.show {
  opacity: 1;
  transform: translateY(0);
}

.layout__content-footer {
  padding: 20px;
  text-align: center;
  font-size: 1.25rem;
}
