.table-wrapper {
  overflow-y: hidden;
}

table {
  width: 100%;
  min-width: 400px;
  border-spacing: 0;
}

thead {
  background-color: var(--second-bg);
}

tr {
  text-align: left;
  cursor: pointer;
}

th,
td {
  text-transform: capitalize;
  padding: 15px 10px;
}

tbody > tr:hover {
  background-color: var(--main-color);
  color: var(--txt-white);
}
